<div class="container">
  <br>
  <div class="card mx-auto" style="max-width: 20rem; margin-bottom:2em">
    <button (click)="createAddressbook()" class="btn btn-primary"><b>+</b></button>
  </div>
  <br>
  <div class="card mx-auto" *ngFor='let addressbook of addressbooks' style="max-width: 20rem; margin-bottom:2em">
    <div class="card-header" style="text-align: right">
      <button [hidden]="addressbook.editMode" (click)="addressbook.editMode = !addressbook.editMode" class="btn btn-outline-success"><i class="fa fa-edit"></i></button>
      <button [hidden]="!addressbook.editMode" (click)="addressbook.editMode = !addressbook.editMode; saveAddressbook(addressbook);"
              class="btn btn-success"><i class="fa fa-save"></i></button>
      <button [hidden]="addressbook.delete" class="btn btn-outline-danger" (click)="addressbook.delete = true">
        <i class="fa fa-trash"></i>
      </button>
      <button [hidden]="!addressbook.delete" (click)="deleteAddressbook(addressbook._id)" class="btn btn-danger">wirklich Löschen</button>
    </div>
    <div class="card-body">
      <h4 class="card-title">
        <i class="fa fa-address-book"></i>&nbsp;
        <span [hidden]="addressbook.editMode">[{{addressbook._id}}] {{addressbook.name}}</span>
        <input [hidden]="!addressbook.editMode" type="text" class="form-control" placeholder="Name" [(ngModel)]="addressbook.name">
      </h4>
      <p class="card-text">
        <span [hidden]="addressbook.editMode">{{addressbook.address}}</span>
      </p>
      <!--<button [hidden]="addressbook.editMode" (click)="addressbook.editMode = !addressbook.editMode" class="btn btn-primary">Edit</button>-->
      <!--<button [hidden]="!addressbook.editMode" (click)="addressbook.editMode = !addressbook.editMode; saveAddressbook(addressbook);"-->
              <!--class="btn btn-success">Save-->
      <!--</button>-->

    </div>
  </div>

</div>
