<div class="card mx-auto"  style="max-width: 20rem; margin-bottom:2em"  [ngStyle]="{'background-color': 'hsla('+entry.group*1234%360+',100%,75%,0.3)'}">
  <h6 class="card-header entryHeader" style="text-align: right">
    <span class="groupName">{{groupName}}</span>
    <button [hidden]="entry.delete" class="btn btn-outline-danger deleteButton" (click)="entry.delete = true">
      <i class="fa fa-trash"></i>
    </button>
    <button [hidden]="!entry.delete" (click)="deleteEntry(entry._id)" class="btn btn-danger">wirklich Löschen</button>
  </h6>
  <br>
  <div class="card-body">
    <h4 class="card-title">
      <span [hidden]="entry.editMode">[{{entry._id}}] {{entry.name}}</span>
      <input [hidden]="!entry.editMode" type="text" class="form-control" placeholder="Name" [(ngModel)]="entry.name">
      <div>
        <i class="far fa-star " [ngClass]="{'fas':entry.rating >= 1, 'rating':entry.editMode}" (click)="entry.rating=1" ></i>
        <i class="far fa-star " [ngClass]="{'fas':entry.rating >= 2, 'rating':entry.editMode}" (click)="entry.rating=2"></i>
        <i class="far fa-star " [ngClass]="{'fas':entry.rating >= 3, 'rating':entry.editMode}" (click)="entry.rating=3"></i>
        <i class="far fa-star " [ngClass]="{'fas':entry.rating >= 4, 'rating':entry.editMode}" (click)="entry.rating=4"></i>
        <i class="far fa-star " [ngClass]="{'fas':entry.rating >= 5, 'rating':entry.editMode}" (click)="entry.rating=5"></i>
      </div>
    </h4>
    <p class="card-text">
      <span [hidden]="entry.editMode">{{entry.address}}</span>
      <input [hidden]="!entry.editMode" type="text" class="form-control" placeholder="Address"
             [(ngModel)]="entry.address">
      <br>
      <select class="form-control" [hidden]="!entry.editMode" [(ngModel)]="entry.group">
        <option *ngFor='let group of groups' value="{{group._id}}">{{group._id}} {{group.name}}</option>
      </select>
    </p>
    <button [hidden]="entry.editMode" (click)="entry.editMode = !entry.editMode" class="btn btn-primary">Edit</button>
    <button [hidden]="!entry.editMode" (click)="entry.editMode = !entry.editMode; saveEntry(entry);"
            class="btn btn-success">Save     </button>

  </div>
</div>
