.filterContainer{
  max-width: 20rem;
  border-bottom: 1px solid black;
  margin-bottom: 2em;
  padding:0;
}
.rating:hover {
  color: #FF9900;
  cursor: pointer;
}
.groupInAddressbookContainer{
  padding:0.5em;
  margin:0;
  margin-bottom:0.5em;
  border-radius: 5px;
}
.btn-filter{
  width:100%;
  margin-bottom:0.5em;
}
